@tailwind base;
@tailwind components;
@tailwind utilities;

.group-hover\:boing {
  animation: boing 0.25s cubic-bezier(0.25, 0.4, 0.55, 1.6) forwards;
}

@keyframes boing {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.clip-footer-bg {
  clip-path: polygon(0 5%, 30% 0, 100% 3%, 100% 100%, 0 100%);
}

@media (min-width: 768px) {
  .clip-footer-bg {
    clip-path: polygon(0 150px, 120px 0, 100% 70px, 100% 100%, 0 100%);
  }
}

.clip-team {
  clip-path: polygon(10% 10%,
      55% 10%,
      90% 15%,
      93% 40%,
      90% 83%,
      60% 90%,
      10% 90%);
}

.float {
  animation: float 6s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }

  50% {
    transform: translatey(-10px);
  }

  100% {
    transform: translatey(0px);
  }
}
